
<div class="center hero-unit light-font">
  <h1>LOUSYLANDLORD.CA</h1>

  <%= link_to "Submit", '/submit', class: "btn btn-large btn-primary btn-sub" %>
  <%= link_to "Search", '/search', class: "btn btn-large btn-primary btn-search" %>
</div>

