<span onload="message()"></span>
<div class="center hero-unit light-font">
  <h1>LOUSYLANDLORD.CA</h1>

  <%= link_to "Submit a Landlord now! ", '/submit', class: "btn btn-large btn-primary btn-sub" %>
  </br></br>
  <%= link_to "Search a Landlord or Address now! ", '/search', class: "btn btn-large btn-primary btn-search" %>
</div>

