<%= include_gon %>
<div class="center">
	<input type="text" id="place" class="search-query" placeholder="Find location on map... ">
	<button class="btn" onclick="displayLandmarkMarker()">Locate</button>
</div>
<br/>
<div id="map_canvas" style="height:500px"></div>