

/* universal */

html {
  overflow-y: scroll;
}
      
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}
.left-text{
  text-align: left;
}
.center h1 {
  margin-bottom: 10px;
}


a{
  &:hover{
    color: black;
  }
}


.container{

  margin: 0 auto;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  // text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}



/* footer */

footer {
  margin: 0 auto;
  width: 80%;
  position: relative;
  margin-top: 10%;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* Form styling */
.underline, .search-exp-click{
  text-decoration: underline;
}


/* jQuery magic */
.terms-contents{
  margin-right: 22%;
  text-align: center;
}

.tos-display, .search-display{
  text-decoration: underline;
  font-weight: bold;
}

.terms-closed, .search-exp{
  font-size: 0;
  visibility: hidden;
  display: block;
}

.terms-expanded{
  visibility: visible;
  font-size: 1em;
  width: 75%;
  height: 300px;
  margin: 0 auto;
  overflow:auto;
}
.search-exp-expanded{
  visibility: visibile;
}

.search-result,.search-exp{
  width:90%;
  margin: 0 auto;
}


/* For submit form */
.input-wrapper{
  margin-right: 5em;
}

.comment-wrapper{
  .comment-lbl{
    display:inline;
    vertical-align: top;
  }
  .form-comment{
    width: 60%;
  }
 }
.name-wrapper{
  margin-right: 25.5em;
  .name-lbl{    
    
   display: inline;
  }
  .form-name{
    //width: 100%;
  }
}
.tos-wrapper{
  margin-top: 5%;
  .tos-check{
    display: inline;
    padding-top: 10px;
    
  }
}
/* For search form */

.search-form-wrapper{
  margin-top: 20%;
  margin-bottom: 20%;
  .user-search-input{
    margin-top:10px;
  }

}


/* user-list */
.query-search{
  margin-bottom:10%;
}
.frm-exp{
  width:80%;
}
.submit{
  margin-top: 5%;
}


  /*#error_explanation {
  color: #f00;
  ul {
  list-style: none;
  margin: 0 0 18px 0;
  }
  }
  .field_with_errors {
  @extend .control-group;
  @extend .error;
  }*/




.comment-section{
  float: right;
  width: 50%;
  .comment-text{
    margin-bottom: 10px;
    word-wrap: break-word;
    border-bottom: 2px solid #eaeaea;

  }
}

.show-left{
  width: 50%;
  float: left;
}

.show-right{
  width: 50%;
  float: right;
}

.center-div{
  width: 80%;
  margin-left: 19%;
  display: block;
  position: relative;
}

#map_canvas{
  height: 400px;
  width: 100%;

}

.ctr{
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}