
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @landlord.name %>
			</h1>


		</section>
		<section>
			<h3>
				<%= @landlord.city %>, <%= @landlord.province %>
			</h3>
		</section>
		<div class="span4">
			<%= @landlord.comments.count %>
		</div>
	</aside>

</div>