
<span> <%=	@landlord.name %> </span>
<span> <%=	@landlord.city %> </span>
<span> <%=	@landlord.province %> </span>

<br>
<% @landlord.comments.each do |f| %>
	<p> <%=   f.comment %> </p> <br>
<% end %>